.board {
  position: relative;
  font-size: 25px;
  user-select: none;
  border-collapse: collapse;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
}

.board:before {
  position: absolute;
  content: '';
  height: 100%;
  width: 2px;
  background-color: var(--clr-main-500);
  left: 32.85%;
}

.board:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 2px;
  background-color: var(--clr-main-500);
  left: 66.2%;
  z-index: 0;
}

.board__row {
  display: flex;
}

.board__row:nth-child(3n) {
  border-bottom: 2px solid var(--clr-main-500);
}
.board__row:nth-child(9n) {
  border-bottom: none;
}

.board__cell {
  background-color: var(--clr-neutral-100);
  border: 1px solid var(--clr-neutral-300);
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.board .cell--error {
  color: var(--clr-accent-400);
}

.board__cell[data-clicked='true'] {
  scale: 120%;
  background: linear-gradient(
    125deg,
    var(--clr-main-200) 0%,
    var(--clr-main-300) 100%
  );

  overflow: hidden;
  border-radius: 8px 6px 5px 6px;
  color: var(--clr-neutral-100);
  font-weight: 500;
  border: none;
  z-index: 1;
  box-shadow: 0px 0px 10px -2px var(--clr-main-500);
}

.board__cell[data-clicked='true']::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.541);
}

.board__cell:nth-child(3n) {
  border-right: 2px solid var(--clr-main-500);
}

.board__cell:nth-child(9n) {
  border-right: none;
}
.board__cell:nth-child(3n)[data-clicked='true'] {
  border-right: none;
}

.board__cell[data-canChange='false'] {
  font-weight: 500;
  color: var(--clr-main-300);
}

.board .in-cross {
  background-color: var(--clr-neutral-200);
}

.keyboard {
  display: grid;
  gap: 1.5rem;
}

.keyboard__value {
  display: inline-flex;
  gap: 3px;
}

.keyboard__value button {
  height: var(--cell-size);
  aspect-ratio: 3 / 4;
}

.keyboard__specials {
  display: flex;
  justify-content: space-between;
}
