body,
input {
  font-family: var(--font-main);
}

body {
  height: 100vh;
  background: linear-gradient(90deg, var(--clr-main-400), var(--clr-main-600));
  user-select: none;
  display: grid;
  grid-template-rows: 1fr min-content;
}

main {
  width: 50%;
  min-width: min-content;
  height: 85%;
  margin: auto;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
}
@media (max-width: 35em) {
  main {
    height: 100%;
  }
}

a {
  color: inherit;
}

a:hover {
  color: var(--clr-neutral-300);
}
