:root {
  --font-main: 'Montserrat', sans-serif;
  --clr-primary-800: #004a94;
  --clr-primary-400: #53a9ff;
  --clr-primary-200: #a7d3ff;

  --clr-main-200: #75b8fd;
  --clr-main-300: #5390f2;
  --clr-main-400: #2f60c9;
  --clr-main-500: #4a43a4;

  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #e2e7f6;
}
